/* Здесь можно устанавливать и переопределять стили */

.recent-post-img {
	min-width: 45px;
	max-width: 45px;
}

.avatar-preview {
	max-width: 80px;
	height: 80px;
	margin-bottom: 10px;
	overflow: hidden;
	margin-left: 40px;
}

#userImage {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}

#avatar-btn-group {
	margin-bottom: 15px;
	margin-left: 40px;
}

#avatarUpload {
	display: none;
}

#avatar-input {
	display: none;
}