1. Поднять git-серве
2. Разобраться с форматом документации
3. Перейти к общепринятой системе документирования и сокращений
4. Поднять тестовый сервер (там же где git-сервер)
5. Ветки разработки (разграничение задач и ответственности)
6. Система задач/тикетов